# runtime
.tmp/
runtime/*
!runtime/README.md

# python
__pycache__/
*.py[cod]
.Python
*.egg-info/
.pytest_cache/

# frontend
node_modules/
dist/
.vite/

# user models
user/models/checkpoints/*
!user/models/checkpoints/.gitkeep
user/models/loras/*
!user/models/loras/.gitkeep
user/models/vae/*
!user/models/vae/.gitkeep
user/models/controlnet/*
!user/models/controlnet/.gitkeep
user/models/embeddings/*
!user/models/embeddings/.gitkeep

# user output, gallery, wildcards
user/output/*
!user/output/.gitkeep

user/gallery/*
!user/gallery/.gitkeep
user/gallery_thumbs/*
!user/gallery_thumbs/.gitkeep
user/removed/*
!user/removed/.gitkeep

user/autocompletion/*
!user/autocompletion/.gitkeep

user/wildcards/*
!user/wildcards/.gitkeep
!user/wildcards/colors.txt
!user/wildcards/styles.yaml

# user overwrites
user/user_settings.json

user/model_meta/**
!user/model_meta/.gitkeep

user/workflow_templates/*
!user/workflow_templates/.gitkeep

# logs and editor
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/
